body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('Assets/IMG_20210925_170243.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
  #profile-card {
    width:480px;
    max-width: calc(90vw - 10vw);
    background-color: hsla(0, 0%, 100%, .5);
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
    margin:10% auto;
  }
  #head, #section-links {
    text-align: center;
  }
  #head, #content {
    width: 90%;
    margin:0 auto;
  }
  .head, .content {
    width: 90%;
    margin: 0 auto;
  }
  #profile-image {
    margin-top:20%;
  }
  ul {
    list-style-type: none;
  }
  
  li {
    display: inline;
  }
  #head, #p-about {
    margin-bottom: 10%;
  }
  #content {
    border-top: 1px solid hsla(0, 0%, 30%, .8);
    padding: 5% 10%;
  }
  .kizart{
    text-align:justify;
  }

  /*Slider*/
  * {
    box-sizing: border-box;
  }
    #carimg{
    max-height: calc(100%);
    width: calc(100%);
    object-fit: cover;
    margin: auto auto;
    border-radius: 50%;
  }
  
  .carousel{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  max-height: calc(100% - 5vw);
  width: calc(90% - 5vw);
  overflow: hidden;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 50%;
  border:2px solid beige;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.7);
  }
  
  .image-container{
  display: flex;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  }
  /*Slider vége*/
  #revol{
    width:8%;
    height:auto;
    box-shadow: 10px 10px 10px rgb(2, 2, 0);
  }
  a{
    text-decoration: none;
    text-shadow: 10px 10px 10px rgb(2, 2, 0);
  }
  i, #revol{
    transition: all 0.5s ease-in-out;
  }
  i:hover, #revol:hover{
    transform: scale(1.3);
  }